<% layout('/layouts/default.html', {title: 'class_tab管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('class_tab管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('deng:classTab:edit')){ %>
					<a href="${ctx}/deng/classTab/form" class="btn btn-default btnTool" title="${text('新增class_tab')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${classTab}" action="${ctx}/deng/classTab/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('班级名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('班级人数')}：</label>
					<div class="control-inline">
						<#form:input path="num" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('班主任')}：</label>
					<div class="control-inline">
						<#form:input path="teacherName" maxlength="5" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('remarks')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('del_flag')}：</label>
					<div class="control-inline">
						<#form:input path="delFlag" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("班级名称")}', name:'name', index:'a.name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/deng/classTab/form?id='+row.id+'" class="btnList" data-title="${text("编辑class_tab")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("班级人数")}', name:'num', index:'a.num', width:150, align:"center"},
		{header:'${text("班主任")}', name:'teacherName', index:'a.teacher_name', width:150, align:"left"},
		{header:'${text("create_date")}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text("remarks")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("del_flag")}', name:'delFlag', index:'a.del_flag', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('deng:classTab:edit')){ %>
				actions.push('<a href="${ctx}/deng/classTab/form?id='+row.id+'" class="btnList" title="${text("编辑class_tab")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/deng/classTab/delete?id='+row.id+'" class="btnList" title="${text("删除class_tab")}" data-confirm="${text("确认要删除该class_tab吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>